:root {

    --selectable-primary-color: #0066B2;
    --selectable-primary-light-color: #0083E5;
    --selectable-primary-text-color: #FFFFFF;
    --selectable-secondary-color: rgba(0, 102, 178, 0.05);
    --selectable-secondary-light-color: rgba(0, 102, 178, 0.15);
    --selectable-secondary-text-color: #0066B2;
    --text-title-color: #002F6C;
    --text-default-color: #002F6C;
    --text-article-color: #000000;
    --text-secondary-color: rgba(0, 47, 108, 0.65);
    --text-category-color: #DC052D;
    --text-link-color: #0066B2;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: rgba(0, 102, 178, 0.05);
    --formfield-label-color: #0066B2;
    --formfield-input-color: #000000;
    --formfield-background-color: rgba(0, 102, 178, 0.05);
    --checkbox-label-color: #0066B2;
    --primary-border-color: rgba(0, 102, 178, 0.15);
    --secondary-border-color: var(--primary-background-color);
    --loading-indicator-color: #133874;
    
    --primary: #C20713;
    --primary-dark: #750000;
    --secondary: #ff8491;
    --secondary-light: #FFC2C8;
    --yellow: #e2ff65;
    --black: #313131;
    --background: #f5f5f7;
    --white: #fff;
    --separator-color: var(--primary-dark);
}
